.table{
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    margin-top: 40px;
}
.temp{

    margin-top: 40px;
    color:white;
    text-align: center;

.titlos {
    color: white;
    text-align: center;
    font-size: xx-large;
    font-family: Permanent Marker;
   line-height: 60px;






}

}
